.main {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adultGroobles {
    background-color: darkgray;
    display: flex;
    flex-direction: row;
    width: 600px;
    align-items: center;
}

.babyGrooble {
    background-color: whitesmoke;
}

.savedGrooblesBox {
    display: flex;
    flex-direction: row;
}